# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5

# --- For-Database ------------ #
pymongo
dnspython
motor  # Async driver for MongoDB

# --- For-Web-Response ------- #
aiohttp
shortzy
pytz
requests
bs4
shortzy
beautifulsoup4
aiohttp
aiofiles
asyncio
nest_asyncio

# --- Advance-Format --- #
pyrofork
ffmpeg-python
